<h1>Edit Superpower</h1>

<%= simple_form_for @superpower do |form| %>
  <div class="mb-3">
    <%= form.input :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.input :category, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.input :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.input :renting_price, class: "form-control" %>
  </div>

 <div class="mb-3">
    <%= form.input :selling_price, class: "form-control" %>
  </div>
  <%= form.submit "Update Superpower", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", superpower_path(@superpower), class: "btn btn-secondary mt-3" %>
