<h1>superpower</h1>
<div class ="container py-5" >
  <div class="row">
    <div class="col-md-6">
           <img src="#" alt="<%= @superpower.title %>" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h1><%= @superpower.title %></h1>
      <p><strong>Renting Price:</strong> $<%= @superpower.renting_price %></p>
      <p><strong>Selling Price:</strong> $<%= @superpower.selling_price %></p>
      <p><strong>Description:</strong> <%= @superpower.description %></p>
      <p><strong>Category:</strong> <%= @superpower.category %></p>
      
      <div class="btn-group mt-3" role="group">
        <%= form_with url: renting_superpower_path(@superpower), method: :post do %>
          <%= submit_tag "Rent", class: "btn btn-secondary me-3" %>
        <% end %>
        <%= form_with url: buy_superpower_path(@superpower), method: :post do %>
          <%= submit_tag "Buy", class: "btn btn-secondary me-3" %>
        <% end %>
      <%= link_to "Edit", edit_superpower_path(@superpower), class: "btn btn-primary me-3" %>
      <%= link_to "Back to all superpowers", superpowers_path, class: "btn btn-secondary me-3" %>
      </div>
    </div>
  </div>
</div>
