<%# <%= @bookings.inspect %>

<%# 1. loop bookings and show each booking
2 . make sure ki to p show seulment booking pu current user %>
<h1>My Bookings</h1>

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <li style="border: 2px solid purple;">
          <strong>Start Date:</strong> <%= booking.start_date.strftime("%B %d, %Y") %><br>
          <strong>End Date:</strong> <%= booking.end_date.strftime("%B %d, %Y") %><br>
          <strong>Status:</strong> <%= booking.status %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No bookings.</p>
<% end %>

<h1>My Booking requests</h1>
<% if @my_booking_requests.any? %>
  <ul>
    <% @my_booking_requests.each do |booking| %>
        <li style="border: 2px solid purple;">
          <strong>Start Date:</strong> <%= booking.start_date.strftime("%B %d, %Y") %><br>
          <strong>End Date:</strong> <%= booking.end_date.strftime("%B %d, %Y") %><br>
          <%= simple_form_for booking do |f| %> 
            <%= f.input :status, collection: ["accepted", "rejected"] %>
            <%= f.submit "Update status" %>
          <% end %>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>No bookings.</p>
<% end %>


