<h1 class="text-center" style="font-size: 175%; color: #333333;">My Bookings</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <li style="border: 2px solid purple; padding: 10px; margin-bottom: 10px;">
          <strong>Superpower:</strong> <%= booking.superpower.title %> <br>

          <strong>Price:</strong>
          <% if booking.status == "purchased" %>
            $<%= booking.superpower.selling_price %> (Purchased)
          <% else %>
            $<%= booking.superpower.renting_price %> (Rented)
          <% end %>
          <br>

          <strong>Start Date:</strong>
          <% if booking.start_date.present? %>
            <%= booking.start_date.strftime("%B %d, %Y") %>
          <% else %>
            Not specified
          <% end %>
          <br>

          <strong>End Date:</strong>
          <% if booking.end_date.present? %>
            <%= booking.end_date.strftime("%B %d, %Y") %>
          <% else %>
            Not specified
          <% end %>
          <br>

          <strong>Status:</strong> <%= booking.status %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No bookings.</p>
<% end %>

<h1>My Booking Requests</h1>
<% if @my_booking_requests.any? %>
  <ul>
    <% @my_booking_requests.each do |booking| %>
      <li style="border: 2px solid purple; padding: 10px; margin-bottom: 10px;">
        <strong>Superpower:</strong> <%= booking.superpower.title %> <br>

        <strong>Price:</strong>
        <% if booking.status == "purchased" %>
          $<%= booking.superpower.selling_price %> (Purchased)
        <% else %>
          $<%= booking.superpower.renting_price %> (Rented)
        <% end %>
        <br>

        <strong>Start Date:</strong>
        <% if booking.start_date.present? %>
          <%= booking.start_date.strftime("%B %d, %Y") %>
        <% else %>
          Not specified
        <% end %>
        <br>

        <strong>End Date:</strong>
        <% if booking.end_date.present? %>
          <%= booking.end_date.strftime("%B %d, %Y") %>
        <% else %>
          Not specified
        <% end %>
        <br>

        <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ["accepted", "rejected"], label: "Update Status" %>
          <%= f.submit "Update Status" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No booking requests.</p>
<% end %>